<!DOCTYPE html>
<html>
<html lang="en" dir="ltr">
    <body>
    <div class="background-image"></div>    
    <form class="box" action="/home/SignUp" method="POST" autocomplete="off">
        <head>
        <meta charset="utf-8">
        <title>Hotel Ordering System</title>
        <link rel="icon" href="../images/friends.jpg">
         <link rel="stylesheet" href="../css/sig.css">
         <link rel="stylesheet" href="../images/friends.jpg">
    </head>
        <input type="text" name="username" placeholder="Username" required value="{{user.username}}">
        <div class="text-danger">
            {{user.UserNameError}}</div>
    
        <input type="email" name="email" placeholder="Email"  required value="{{user.email}}">
        <div class="text-danger">
            {{user.EmailError}}</div>

        <input type="password" name="password" placeholder="Password" required value="{{user.password}}">
        <div class="text-danger">
            {{user.PasswordError}}</div>
        <input type="password" name="cpassword" placeholder="Confirm Password"  required id="cpassword" data-rule-password="true" data-rule-equalTo="password" required value="{{user.cpassword}}">
         <div class="text-danger">
            {{user.CPasswordError}}</div>
        <input type="number" name="phonenumber" placeholder="Phone Number" required value="{{user.pnumber}}">
        <div class="text-danger">
            {{user.PhoneNumberError}}</div>
        <input type="submit"placeholder="Login">
    </form>
    </body>
</html>